<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  		<link rel=icon type="image/ico" href="/images/n.ico">
		<title>STHOOING ๏̯͡๏ ||Enter site</title>

		<link rel="stylesheet" type="text/css" media="screen" href="/css/fonts-googleapis-Roboto.css" />
		<link rel="stylesheet" type="text/css" media="screen" href="/css/style.css" />
		<link rel="stylesheet" type="text/css" media="screen" href="/css/animated.css" />
		<!--  SOUND  BG   -->
		<!--<embed src="http://student.coe.phuket.psu.ac.th/~s5635512088/sound/sound1.mp3" hidden="true" autostart="true" loop="1">	-->
			
	</head>				

	<body>
		<div class="animated flip">
			<div align="center">
				<glow><h1 class="dece"> SHOOTING</h1></glow>
			</div>
		</div>
		<br>
		<br>
		<form action="/home" method="post">
			<div align="center" class="animated bounceInUp">
				<a class="greenz button bttn green" href="home" method="post" name="insign"><div class="link">Enter Site</div></a></button>
			</div>
			</form>
		
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		 <div align="center" valign="bottom" color="#696969">
		 	<p>Copyright &copy; 2017 <a href="https://www.facebook.com/Cronof">Nhum Apinun.K</a> All Rights Reserved</p>
		 </div>
	</body>
</html>